@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb:255,255,255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  
  }
} */



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

 .info-text{
  @apply font-poppins text-2xl font-medium 
 }

 .heading-text{
  @apply font-poppins text-[2.5rem] font-bold md:text-[3.5rem] leading-9 md:leading-[3rem]
 }
  
}

@layer components {
  /* .background-image{
    background: url('/public/images/credit-2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
}


