/* .custom_menu */

.ant-menu-item-selected::after{
    border: none !important;

}

.ant-menu-horizontal a{
 font-family: "Poppins",sans-serif;
 font-weight: 600;
 font-size: 0.9rem;
 gap: none !important;
 color: #203993 !important;
}

.ant-menu-item-selected a{
    background:#203993 !important;
    color: white !important;
    border-top-left-radius: 5px !important;
    border-top-right-radius: 5px !important;
 }
 

 .ant-menu-horizontal a:hover{
    background-color:#203993;
    color: white !important;
    width: fit-content !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none !important;
    
}

.ant-menu-horizontal li a:hover::after{
  border: none !important;
 }


.ant-menu-horizontal a{
    border-bottom: none !important;
    padding: 8px !important;
    margin: 0px !important;
    grid-area: 0px !important;
    
}

.ant-menu-horizontal{
    border: none !important;
    width: fit-content !important;
    padding: none !important;
    gap: none !important;

}
.custum_menu li { 
    /* padding: 0px 100px !important; */
    padding-inline: 0px !important;
    border: none;
}
.custum_menu{
    width: 100% !important;
    display: flex;
    justify-content: end;
    border: none !important;
}
.custum_menu li::after{
    border: none !important;
    content: none !important;
    inset-inline: 0px !important;
   
}