/* .custom_menu */

.custom_menu .ant-menu-item-selected::after{
    border: none !important;

}
.custom_menu .ant-menu-item-selected a{
   background:#203993;
   padding: 8px;
   color: white !important;
   border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.ant-menu-horizontal li a{
 font-family: "Poppins",sans-serif;
 font-size: 0.8rem;
 font-weight: 600;
 gap: none !important;
color: #203993 !important;
}
.ant-menu-horizontal li a:hover{
    background-color:#203993;
    color: white !important;
    padding: 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none !important;
    
}


.ant-menu-horizontal {
    border-bottom: none !important;

}

